/* General */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(53, 97, 105);
	background: linear-gradient(
		0deg,
		rgba(53, 97, 105, 1) 25%,
		rgba(146, 202, 206, 1) 100%
	);
	font-size: 1.3rem;
}

/* Content */
.content {
	background-color: #3b757f;
	width: 768px;
	max-width: 768px;
	padding: 3rem;
	border: 1.5px solid #1a2c32;
	border-radius: 1rem;
	-webkit-box-shadow: 8px 10px 9px 0px rgba(0, 0, 0, 0.73);
	-moz-box-shadow: 8px 10px 9px 0px rgba(0, 0, 0, 0.73);
	box-shadow: 8px 10px 9px 0px rgba(0, 0, 0, 0.73);
}

.content__title {
	margin: 1rem;
	text-align: center;
	font-style: italic;
}

/* Search */
.search {
	display: flex;
	margin-bottom: 2.5rem;
	-webkit-box-shadow: 3px 1px 4px 0px rgba(0, 0, 0, 0.36);
	-moz-box-shadow: 3px 1px 4px 0px rgba(0, 0, 0, 0.36);
	box-shadow: 3px 1px 4px 0px rgba(120, 113, 113, 0.36);
}

.search__input {
	flex: 1;
	padding: 1rem;
	font-size: 1rem;
	-webkit-box-shadow: 3px 1px 4px 0px rgba(0, 0, 0, 0.36);
	-moz-box-shadow: 3px 1px 4px 0px rgba(0, 0, 0, 0.36);
	box-shadow: 3px 1px 4px 0px rgba(120, 113, 113, 0.36);
}

p {
	font-style: italic;
}

/* Result */
.result {
	position: relative;
	background-color: rgba(255, 68, 0, 0.679);
	border-radius: 0.3rem;
	box-shadow: 2px 2px 3px gray;
	color: white;
	padding: 2.5rem;
	display: grid;
	gap: 1rem;
	grid-template-areas:
		"name name"
		"avatar bio";
	border: 2px solid #1a2c32;
	border-radius: 1rem;
	-webkit-box-shadow: 3px 1px 4px 0px rgba(0, 0, 0, 0.73);
	-moz-box-shadow: 3px 1px 4px 0px rgba(0, 0, 0, 0.73);
	box-shadow: 3px 1px 4px 0px rgba(0, 0, 0, 0.73);
}

.result__toggle-favorite {
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
	border: none;
	color: white;
	text-decoration: none;
	padding: 0.4rem;
}

.result__name {
	grid-area: name;
	margin: 0.4rem 0;
	font-style: italic;
	color: rgb(37, 44, 44);
}

.result__avatar {
	grid-area: avatar;
	max-width: 6rem;
	cursor: pointer;
	height: auto;
	border-radius: 1rem;
	border: 1.5px solid black;
	-webkit-box-shadow: 8px 10px 9px 0px rgba(0, 0, 0, 0.73);
	-moz-box-shadow: 8px 10px 9px 0px rgba(0, 0, 0, 0.73);
	box-shadow: 8px 10px 9px 0px rgba(0, 0, 0, 0.73);
	transition: transform 0.5s ease-in-out;
}

.result__avatar:hover {
	transform: scale(1.5) translateZ(1.5rem);
	transition-duration: 150ms;
	transition-delay: 150ms;
}

.result__bio {
	grid-area: bio;
	margin: 0;
	font-style: italic;
	color: rgb(207, 194, 194);
}

.result__blog {
	grid-area: blog;
	color: goldenrod;
	font-style: italic;
}

.a-github {
	color: black;
	transition: transform 0.5s ease-in-out;
	font-style: italic;
}

.a-github:hover {
	transform: scale(1.2) translateZ(1.5rem);
	transition-duration: 150ms;
	transition-delay: 150ms;
}

.result__error {
	padding: 0.3rem;
	background-color: tomato;
	color: white;
	text-align: center;
	border: 1px solid red;
}

/* Favorites */
.favorites {
	position: fixed;
	top: 15px;
	display: flex;
	justify-content: center;
	background-color: #3b757f;
	border-radius: 10px;
	border: 2px solid black;
	-webkit-box-shadow: 8px 10px 9px 0px rgba(0, 0, 0, 0.73);
	-moz-box-shadow: 8px 10px 9px 0px rgba(0, 0, 0, 0.73);
	box-shadow: 8px 10px 9px 0px rgba(0, 0, 0, 0.73);
}

.favorite {
	transition: transform 0.5s ease-in-out;
}

.favorite__avatar {
	height: 5rem;
	margin: 0.3rem;
	border-radius: 8px;
	border: 1.5px solid black;
	transition: transform 0.5s ease-in-out;
}

.favorite__avatar:hover {
	transform: scale(1.2) translateZ(1.5rem);
	transition-duration: 150ms;
	transition-delay: 5ms;
}

.favorite--selected {
	transform: scale(1.3);
}

/* Transitions */
.v-enter-active,
.v-leave-active {
	transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
	transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
	opacity: 0;
	transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
	position: absolute;
}
